<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">

    <title>4</title>
</head>
<body>
    <h1 style="background-color: {{color2}}; color:{{color1}}">***Checkboard***</h1>
{% for i in range(0,x2)%}
    <div class="m">
        {% for i in range(0,x2)%}
        <div class="colr1" style="background-color: {{color1}}"></div>
        <div class="colr2" style="background-color: {{color2}}"></div>
        {% endfor %}
    </div>
    <div class="m2">
        {% for i in range(0,x2)%}
        <div class="colr1" style="background-color: {{color2}}"></div>
        <div class="colr2" style="background-color: {{color1}}"></div>
        {% endfor %}
    </div>
{% endfor %}

</body>
</html>